<div class="form myForm" [ngClass]="formStatus">
  <h2 id="registration">Registration Form</h2>
  <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
    <label for="firstname">First Name</label>
    <input
      type="text"
      id="firstname"
      placeholder="Your name.."
      formControlName="firstname"
    />
    <div>
      <span
        style="color: red"
        *ngIf="
          !reactiveForm.get('firstname').valid &&
          reactiveForm.get('firstname').dirty
        "
        >This First Name you entered is not valid!</span
      >
    </div>

    <label for="lastname">Last Name</label>
    <input
      type="text"
      id="lastname"
      placeholder="Your last name.."
      formControlName="lastname"
    />
    <div>
      <span
        style="color: red"
        *ngIf="
          !reactiveForm.get('lastname').valid &&
          reactiveForm.get('lastname').dirty
        "
        >This Last Name you entered is not valid!</span
      >
    </div>

    <label for="age">Age</label>
    <input
      type="text"
      id="age"
      placeholder="Your Age.."
      formControlName="age"
    />
    <div>
      <span
        style="color: red"
        *ngIf="!reactiveForm.get('age').valid && reactiveForm.get('age').dirty"
        >This Age you entered is not valid!</span
      >
    </div>

    <label for="email">Email</label>
    <input
      type="email"
      id="email"
      placeholder="Your last email.."
      formControlName="email"
    />
    <div>
      <span
        style="color: red"
        *ngIf="
          !reactiveForm.get('email').valid && reactiveForm.get('email').dirty
        "
        >This Email you entered is not valid!</span
      >
    </div>

    <label for="password">Password</label>
    <input
      type="password"
      id="password"
      placeholder="Your password.."
      formControlName="password"
      [(ngModel)]="password"
    />
    <div>
      <span
        style="color: red"
        *ngIf="
          !reactiveForm.get('password').valid &&
          reactiveForm.get('password').dirty
        "
        >This Password you entered is not valid!</span
      >
    </div>

    <label for="confirmPassword">Confirm Password</label>
    <input
      type="password"
      id="confirmPassword"
      placeholder="confirm Passsword.."
      formControlName="confirmPassword"
    />
    <div>
      <span
        style="color: red"
        *ngIf="
          !reactiveForm.get('confirmPassword').valid &&
          reactiveForm.get('confirmPassword').dirty
        "
        >This Password you entered is not valid!</span
      >
    </div>

    <label for="gender">Gender: </label>
    <input type="radio" id="male" value="male" formControlName="gender" />
    <label for="male"> Male </label>
    <input type="radio" id="female" value="female" formControlName="gender" />
    <label for="female"> Female</label>
    <input type="radio" id="other" value="other" formControlName="gender" />
    <label for="other"> Other </label>
    <br /><br />

    <div formArrayName="skills">
      <ng-container
        *ngFor="let skill of reactiveForm.get('skills')['controls']; index as i"
      >
        <input
          type="text"
          placeholder="add skill.."
          formControlName="{{ i }}"
        />
      </ng-container>
      <button (click)="addSkills()">Add Skills</button>
    </div>

    <input type="submit" value="Submit" id="btn" />
  </form>
</div>

<div class="form-data">
  <h3>Form Data</h3>
  <p>
    First Name: <b>{{ firstName }}</b>
  </p>
  <p>
    Last Name: <b>{{ lastName }}</b>
  </p>
  <p>
    Email: <b>{{ email }}</b>
  </p>
  <p>
    Age: <b>{{ age }}</b>
  </p>
  <p>
    Gender: <b>{{ gender }}</b>
  </p>
  <p>
    Password: <b>{{ password }}</b>
  </p>
  <p>
    skills: <b>{{ skills }}</b>
  </p>
</div>
